# === Go binaries ===
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# === Go build artifacts ===
/bin/
/coverage/

# === IDE files ===
*.swp
*.swo
*~
.idea/
.vscode/
.DS_Store

# === Docker related ===
*.tar
*.log

# === Env files ===
**/*.env
!**/*.env.example
