# ======== APP CONFIG ========
APP_NAME=notification-service
APP_VERSION=1.0.0

# ======== HTTP ========
HTTP_PORT=4000

# ======== LOGGING ========
LOG_LEVEL=debug

# ======== KAFKA ========
KAFKA_BROKERS=kafka:9092

# ======== ELASTIC EMAIL ========
ELASTIC_API_KEY=API_KEY_FROM_ELASTIC_EMAIL
ELASTIC_FROM_EMAIL=your-email@gmail.com
ELASTIC_FROM_NAME="Ecommerce Platform"

# ======== FEATURES (internal toggles) ========
METRICS_ENABLED=false
SWAGGER_ENABLED=false
