# ======== APP CONFIG ========
APP_NAME=user-service
APP_VERSION=1.0.0
HTTP_PORT=8080
# ↓ Docker Compose only (not used in app code)
HTTP_EXTERNAL_PORT=8081

# ======== JWT ========
ACCESS_SECRET=super-secret-string
TOKEN_TTL=900

# ======== LOGGING ========
LOG_LEVEL=debug

# ======== SNOWFLAKE ========
SNOWFLAKE_NODE_ID=1
SNOWFLAKE_EPOCH=1672531200000

# ======== DATABASE (PostgreSQL) ========
DB_HOST_0=user-db-shard-0
DB_HOST_1=user-db-shard-1
DB_PORT=5432
DB_USER=user
DB_PASSWORD=password
DB_NAME_0=users_shard_0
DB_NAME_1=users_shard_1
# ↓ Docker Compose only (not used in app code)
DB_EXTERNAL_PORT_0=5452
DB_EXTERNAL_PORT_1=5453

# ======== REDIS ========
REDIS_ADDR=user-redis:6379
REDIS_PASSWORD=
REDIS_DB=0
# ↓ Docker Compose only (not used in app code)
REDIS_PORT=6379
REDIS_EXTERNAL_PORT=6380

# ======== FEATURES (internal toggles) ========
METRICS_ENABLED=false
SWAGGER_ENABLED=false
