# ======== APP CONFIG ========
APP_NAME=api-gateway
APP_VERSION=1.0.0

# ======== HTTP ========
HTTP_PORT=8000

# ======== JWT ========
ACCESS_SECRET=super-secret-string
TOKEN_TTL=900

# ======== ROUTES ========
USER_SERVICE_URL=http://user-service:4000
CATALOG_SERVICE_URL=http://catalog-service:4000
CART_SERVICE_URL=http://cart-service:4000
ORDER_SERVICE_URL=http://order-service:4000
PAYMENT_SERVICE_URL=http://payment-service:4000
NOTIFICATION_SERVICE_URL=http://notification-service:4000

# ======== LOGGING ========
LOG_LEVEL=debug

# ======== FEATURES (internal toggles) ========
METRICS_ENABLED=false
SWAGGER_ENABLED=false
